@font-face {
  font-family: "Patrick Hand" ;
  src: url(./font/PatrickHand-Regular.ttf);
}

:root {
  font-family: "Patrick Hand";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(23, 22, 27)!important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "Patrick Hand";

  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:rgb(23, 22, 27) ;
  overflow-x: hidden;
 

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ----- custom styling ------- */
.cs-message__content  {
  background-color: rgb(23, 22, 27);
  color: white;
  border: 1px solid yellowgreen;    
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Patrick Hand";

}

.cs-message--outgoing .cs-message__content{
  background-color: rgb(23, 22, 27);
  color: white;
  border: 1px solid #fd6363;
  font-family: "Patrick Hand";
}

.cs-message-list{
  font-family: "Patrick Hand";
  background-color: #1C1B20!important;
}

.cs-main-container {
  font-family: "Patrick Hand";
  border: solid 1px rgb(52 52 54)!important;
}

.cs-message__html-content{
text-align: left;
font-family: "Patrick Hand";
}

.cs-chat-container .cs-message-input{
  background-color: #1C1B20;
  font-family: "Patrick Hand";
}

.cs-chat-container .cs-message-input{
  background-color: #1C1B20;
  font-family: "Patrick Hand";
}

.cs-message-input__content-editor-wrapper{
  background-color: #1C1B20;
  font-family: "Patrick Hand";
}

.cs-message-input__content-editor{
  background-color: #1C1B20;
  color: white;
  font-family: "Patrick Hand";
}

.cs-message-input__content-editor[data-placeholder]:empty:before{
  color: white;
  font-family: "Patrick Hand";
}

/* ---- if wallet is not connected ---- */

.banner-img{
  display: none;
}


@media (max-width:800px){
  .banner-img{
      display: block;
    width: 419px;
    position: absolute;
    top: -16px;
    left: 0;
  }
}

.fetchmessages{
  position: absolute;
  left: 25px;
  text-align: start;
  height: 100vh;
  /* overflow-y: overlay; */
  color: #ffffff;
  overflow-y: scroll;
  top: 203px;
}

.NewChat{
  position: absolute;
  width: 290px;
  left: 25px;
  top: 8rem;
  color: white;
}

.user{
  cursor: pointer;
  padding-left: 13px;
  border-radius: 5px;
  display: flex;
}

.fetchmessages .user
{
  width: 275px;
}
.user{
  border: solid 1px rgb(52 52 54)!important;
  margin-bottom: 13px;
}
.user:hover{
  background-color: grey;
}


.user p{
  padding-right: 4rem;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.user img{
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 2rem;
  border-radius: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #17161B; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ACACBE; 
   
}

.ig{
  margin-top: 12rem;
}

